/*colors
on the map, use the main color and the light color as the range
main gray: #1f3f48
light gray: #d2d9da
main blue: #47b4f2
light blue: #daf0fc
main green: #b0c422
light green: #eff3d3*/


body {
  font-family: 'Roboto', 'sans-serif';
  color: #1f3f48;
}

.container {
  padding-top: 2%;
}

.intro {
  text-align: center;
}

.intro h1 {
  font-size: 4rem;
  font-weight: 900;
}

.intro p {
  font-size: 1.5rem;
}

.top-row {
  padding-bottom: 4rem;
  border-bottom: 3px solid #ECEDEB;
}

.bottom-border {
  padding-top: 2rem;
  border-bottom: 8px solid #ECEDEB;
  padding-bottom: 2rem;
}

footer {
  font-size: 1rem;
  padding: 1rem 0;
}

.img-responsive {
  max-with: 80%;
}

circle {
  fill: #47b4f2;
}

.state:hover {
  cursor: pointer;
}


#schoolinfo h2 {
  color: #47b4f2;
  margin-top: -1rem;
  font-weight: 900;
}

.sf {
  font-size: 20rem;
  color: #47b4f2;
}

/*styles to make the svg responsive*/
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}
.svg-container-line {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 68%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
