/*colors
on the map, use the main color and the light color as the range
main gray: #1f3f48
light gray: #d2d9da
main blue: #47b4f2
light blue: #daf0fc
main green: #AFC436
light green: #eff3d3*/


body {
  font-family: 'Roboto', 'sans-serif';
  color: #1f3f48;
}

.container {
  padding-top: 2%;
}

.intro {
  text-align: center;
  margin-bottom: 2em;
}

.intro h1 {
  font-size: 4rem;
  font-weight: 900;
}

.intro p {
  font-size: 1.5rem;
}

.main-row {
  padding-bottom: 4rem;
  border-bottom: 8px solid #ECEDEB;
}

.right-row {
  padding-left: 15px;
  /*min-height: 100vh;*/
}

.buttons {
  text-align: center;
}

.buttons button {
  width: 130px;
  margin: 0 3px;
  border: 0px;
  color: white;
}

button#state_funding {
  background-color: #1F4E59;
}

button#mean_debt {
  background-color: #54B2E4;
}

button#median_earnings {
  background-color: #AFC436;
}

button.active {
  background-color: #ECEDEB !important;
  color: #1f3f48;
  border: 1px solid #1f3f48;
}

.map {
  margin-bottom: 2rem;
}

.about-data p {
  font-size: .8rem;
}

footer {
  font-size: 1rem;
  padding: 1rem 0;
}

.img-responsive {
  max-with: 80%;
}

circle {
  fill: #47b4f2;
}

.state:hover {
  cursor: pointer;
}


h2 {
  color: #1f3f48;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -1px;
  line-height: 50px;
}

h3 {
  font-weight: 300;
  font-size: 2rem;
}

.category {
  font-weight: 700;
  color: #47b4f2;
}

.label {
  font-weight: 400;
  text-transform: uppercase;
}

#stateinfo {
  margin-top: 15px;
}

.sf {
  font-size: 5rem;
  color: #d2d9da;
  float: left;
}

.hover-dot {
  fill: #1f3f48;
}
.selected-dot{
  fill: #FFA500;
}

.datamaps-subunit:hover {
  cursor: pointer;
}

#usmap {
  width: 124%;
  margin-left: -12%;
}

#scattercanvas text {
  font-size: 20px;
}

/*styles to make the svg responsive*/
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}
.svg-container-line {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}

/*media queries*/
